Afrails Intranet
<% @people.each do |person| %>
<table class="table">
	<tr>
		<td><%=	person.title %></td>
		<td><%=	person.work_phone %></td>
		<td><%=	person.email %></td>
	<td><%=	person.gender %></td>
<td><%= link_to person.full_name, person_path(person) %></td>
</tr>
</table>


<% end %>
