<h1>Add new Person</h1>
<%= form_for @person do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :first_name %>
<%= f.text_field :first_name %>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
	<% end %>