<h1><%= @person.full_name %></h1>
<p><strong>Job title:</strong> <%=no_val @person.job_title %></p>
<p><strong>Email address:</strong> <%=no_val mail_to @person.email %></p>
<p><strong>Work phone:</strong> <%=no_val @person.work_phone %></p>
<p><strong>Mobile phone:</strong> <%=no_val @person.mobile %></p>
<p><strong>Date of birth:</strong> <%=no_val human_date(@person.date_of_birth) %></p>
<p><strong>Gender:</strong> <%=no_val @person.gender %></p>
<p><strong>Keywords:</strong> <%=no_val @person.keywords %></p>
<p><strong>Notes:</strong><br/><%=no_val @person.notes %></p>

<h1> Address </h1>
<% address = @person.address %>
	<% if address %>
	<%= address.street_1 %>
	<%= address.street_2 %>
	<%= address.city %>
	<%= address.state %>
	<%= address.zip %>
	<% end %>