<h1>Company Listing</h1>

<% provide(:title, "companies") %>
<% if @companies.empty? %>
	<%= link_to 'new', new_company_path %>
   <% else %>
<table class="table table-bordered">
	<tr>
		<th>Name</th>
		<th>Phone</th>
		<th>Fax</th>
		<th>Website</th>
		<th>Address</th>
	</tr>
<% @companies.each do |company| %>
      <tr>
	  <td><%= company.name %> <%= link_to 'Edit', edit_company_path(company) %></td>
	  <td><%= company.phone %></td>
	  <td><%=no_val company.fax %></td>
	  <td><%= company.website %></td>
	  <td><%= render :partial => 'shared/address', :locals => {:address => company.address } %></td>
	</tr>

<% end %>

<% end %>
</table>

